<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>password reset</h1>
    <p>click<a href="<%= url %>" > here </a>to complete your password reset.</p>
</body>
</html>